SECRET_KEY=YOUR_SECRET_KEY
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .herokuapp.com

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_HOST=smtp.sendgrid.com
#EMAIL_PORT=587
#EMAIL_USE_TLS=True
#EMAIL_HOST_USER=app55616800@heroku.com
#EMAIL_HOST_PASSWORD=tlaxkzjs7451

#SENDGRID_PASSWORD=tlaxkzjs7451
#SENDGRID_USERNAME=app55616800@heroku.com